.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}


// --------* NAVBAR *------------

.nav {
    z-index: 1;
    width: 100%;
    height: 100px;
    position: fixed;
    border-bottom: 1px solid #40323e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 1s;
}

.nav.sticky {
    height: 70px;
    background: rgba(64,50,62,0.8);
}

.nav__logo {
    margin-left: 200px;
    display: flex;
    align-items: center;
    img {
        margin-top: 9px;
        &:hover {
            filter: contrast(10);
        }
    }
    h1 {
        margin-left: 10px;
        color: #ffffff;
        font-family: open sans;
        font-size: 10px;
        font-weight: 300;
        opacity: 0.8;
    }
}

.nav__hamburger-button {
    position: absolute;
    font-size: 28px;
    background-color: transparent;
    border: none;
    color: #ffffff;
    cursor: pointer;
    right: 50px;
    display: none;
    align-self: center;
    z-index: 2;
}

.nav__menu-list {
    margin-right: 35px;
    align-items: center;
    display: flex;
    list-style: none;
    .nav__menu-list_item a {
        text-decoration: none;
        margin-right: 30px;
        color: #ffffff;
        font-family: open sans;
        font-size: 16px;
        transition: 1s;
        &:hover {
            border-bottom: 3px solid #ffffff;
            padding-bottom: 35px;
        }
        &:focus {
            border-bottom: 3px solid #ffffff;
            padding-bottom: 35px;
        }
    }
}

.nav__menu-list.sticky .nav__menu-list_item a:hover {
    padding-bottom: 22px;
}

.nav__menu-list_item-search {
    position: relative;
    #search-box {
        width: 220px;
        height: 44px;
        border-radius: 30px;
        padding-left: 30px;
        font-family: open sans;
        border: none;
    }
    .nav__menu-list_item-search-button {
        background-color: transparent;
        border: none;
        color: #b6b6b6;
        position: absolute;
        right: 15px;
        top: 13px;
        cursor: pointer;
        transition: 0.5s;
        &:hover {
            color: #a2a2a2;
        }
        &:focus {
            color: #a2a2a2;
        }
    }
}

@media (max-width: 1176px) {
    .nav__logo {
        margin-left: 30px;
    }
}

@media (max-width: 1010px) {
    .nav {
        justify-content: center;
        align-items: none;
    }
    
    .nav__logo {
        justify-content: center;
        margin-left: 0;
        position: relative;
    }
    
    .nav__hamburger-button {
        display: block;
    }
    
    .nav__menu-list.sticky {
        background-color: rgba(64,50,62,0.8);
        top: 55px;
    }
    
    .nav__menu-list {
        height: 0;
        overflow: hidden;
        padding: 0;
        width: 100%;
        flex-direction: column;
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        top: 83px;
        line-height: 50px;
        transition: 1s;
        .nav__menu-list_item a {
            margin-right: 0;
            &:hover {
                border-bottom: none;
                padding-bottom: 0;
                color: #aaa;
            }
        }
    }
    
    .nav__menu-list.active {
        height: 320px;
    }
}

// ----------* END NAVBAR *--------------

// ----------* HEADER *-----------

.header {
    width: 100%;
    height: 891px;
    background-image: url("imgs/header.png");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .header__content {
        text-align: right;
        margin-left: 226px;
        h2 {
            font-size: 50px;
            color: #ffffff;
            font-family: open sans;
            font-weight: 400;
        }
        button {
            width: 280px;
            height: 60px;
            border-radius: 30px;
            background-color: #8824cd;
            border: none;
            border-top: 1px solid #b87ce1;
            border-bottom: 1px solid #624c50;
            font-size: 16px;
            font-family: open sans;
            color: #ffffff;
            cursor: pointer;
            transition: 0.3s;
            &:hover {
                background-color: #7713bc;
                border-top: 1px solid #a76bd0;
            }
            &:focus {
                background-color: #7713bc;
                border-top: 1px solid #a76bd0;
            }
        }
        p {
            font-size: 12px;
            color: #ffffff;
            font-family: open sans;
            font-weight: 300;
            margin-right: 30px;
        }
    }
}

@media (max-width: 1010px) {
    .header {
        justify-content: center;
        .header__content {
            text-align: center;
            margin: 0;
            p {
                margin: 0;
                margin-top: 10px;
            }
        }
    }
}

// ----------* END HEADER *-----------

// ----------* FEATURES *-----------

.features {
    width: 100%;
    height: 512px;
}