.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */ }

.nav {
  z-index: 1;
  width: 100%;
  height: 100px;
  position: fixed;
  border-bottom: 1px solid #40323e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 1s; }

.nav.sticky {
  height: 70px;
  background: rgba(64, 50, 62, 0.8); }

.nav__logo {
  margin-left: 200px;
  display: flex;
  align-items: center; }
  .nav__logo img {
    margin-top: 9px; }
    .nav__logo img:hover {
      filter: contrast(10); }
  .nav__logo h1 {
    margin-left: 10px;
    color: #ffffff;
    font-family: open sans;
    font-size: 10px;
    font-weight: 300;
    opacity: 0.8; }

.nav__hamburger-button {
  position: absolute;
  font-size: 28px;
  background-color: transparent;
  border: none;
  color: #ffffff;
  cursor: pointer;
  right: 50px;
  display: none;
  align-self: center;
  z-index: 2; }

.nav__menu-list {
  margin-right: 35px;
  align-items: center;
  display: flex;
  list-style: none; }
  .nav__menu-list .nav__menu-list_item a {
    text-decoration: none;
    margin-right: 30px;
    color: #ffffff;
    font-family: open sans;
    font-size: 16px;
    transition: 1s; }
    .nav__menu-list .nav__menu-list_item a:hover {
      border-bottom: 3px solid #ffffff;
      padding-bottom: 35px; }
    .nav__menu-list .nav__menu-list_item a:focus {
      border-bottom: 3px solid #ffffff;
      padding-bottom: 35px; }

.nav__menu-list.sticky .nav__menu-list_item a:hover {
  padding-bottom: 22px; }

.nav__menu-list_item-search {
  position: relative; }
  .nav__menu-list_item-search #search-box {
    width: 220px;
    height: 44px;
    border-radius: 30px;
    padding-left: 30px;
    font-family: open sans;
    border: none; }
  .nav__menu-list_item-search .nav__menu-list_item-search-button {
    background-color: transparent;
    border: none;
    color: #b6b6b6;
    position: absolute;
    right: 15px;
    top: 13px;
    cursor: pointer;
    transition: 0.5s; }
    .nav__menu-list_item-search .nav__menu-list_item-search-button:hover {
      color: #a2a2a2; }
    .nav__menu-list_item-search .nav__menu-list_item-search-button:focus {
      color: #a2a2a2; }

@media (max-width: 1176px) {
  .nav__logo {
    margin-left: 30px; } }

@media (max-width: 1010px) {
  .nav {
    justify-content: center;
    align-items: none; }
  .nav__logo {
    justify-content: center;
    margin-left: 0;
    position: relative; }
  .nav__hamburger-button {
    display: block; }
  .nav__menu-list.sticky {
    background-color: rgba(64, 50, 62, 0.8);
    top: 55px; }
  .nav__menu-list {
    height: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 83px;
    line-height: 50px;
    transition: 1s; }
    .nav__menu-list .nav__menu-list_item a {
      margin-right: 0; }
      .nav__menu-list .nav__menu-list_item a:hover {
        border-bottom: none;
        padding-bottom: 0;
        color: #aaa; }
  .nav__menu-list.active {
    height: 320px; } }

.header {
  width: 100%;
  height: 891px;
  background-image: url("imgs/header.png");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .header .header__content {
    text-align: right;
    margin-left: 226px; }
    .header .header__content h2 {
      font-size: 50px;
      color: #ffffff;
      font-family: open sans;
      font-weight: 400; }
    .header .header__content button {
      width: 280px;
      height: 60px;
      border-radius: 30px;
      background-color: #8824cd;
      border: none;
      border-top: 1px solid #b87ce1;
      border-bottom: 1px solid #624c50;
      font-size: 16px;
      font-family: open sans;
      color: #ffffff;
      cursor: pointer;
      transition: 0.3s; }
      .header .header__content button:hover {
        background-color: #7713bc;
        border-top: 1px solid #a76bd0; }
      .header .header__content button:focus {
        background-color: #7713bc;
        border-top: 1px solid #a76bd0; }
    .header .header__content p {
      font-size: 12px;
      color: #ffffff;
      font-family: open sans;
      font-weight: 300;
      margin-right: 30px; }

@media (max-width: 1010px) {
  .header {
    justify-content: center; }
    .header .header__content {
      text-align: center;
      margin: 0; }
      .header .header__content p {
        margin: 0;
        margin-top: 10px; } }

.features {
  width: 100%;
  height: 512px;
  background-color: #2e3b4e;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }
  .features .features__point {
    position: absolute;
    bottom: -35px; }
  .features .features__content {
    width: 820px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 150px;
    align-items: center; }
    .features .features__content .features__content-block {
      margin-top: 70px;
      max-width: 390px;
      max-height: 120px; }
      .features .features__content .features__content-block h3 {
        text-transform: uppercase;
        font-family: open sans;
        color: #ffffff;
        font-size: 15px; }
      .features .features__content .features__content-block p {
        font-size: 15px;
        color: #ffffff;
        font-family: open sans;
        font-weight: 300;
        line-height: 23px; }

@media (max-width: 796px) {
  .features {
    height: 800px; }
    .features .features__content-block {
      text-align: center; } }

.pink {
  width: 100%;
  height: 539px;
  background-image: url("imgs/pink-bg.png");
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center; }
  .pink h2 {
    font-size: 35px;
    font-family: open sans;
    color: #ffffff;
    font-weight: 300;
    margin-bottom: 0px; }
  .pink p {
    max-width: 454px;
    font-size: 15px;
    color: #ffffff;
    font-family: open sans;
    font-weight: 400;
    line-height: 28px; }
  .pink button {
    width: 341px;
    height: 62px;
    border-radius: 30px;
    background-color: #ffffff;
    color: #d54c63;
    border: none;
    font-size: 18px;
    font-family: open sans;
    cursor: pointer;
    margin-top: 15px;
    font-weight: bold;
    transition: 0.7s; }
    .pink button:hover {
      background-color: #d54c64;
      color: #ffffff; }
    .pink button:focus {
      background-color: #d54c64;
      color: #ffffff; }

@media (max-width: 350px) {
  .pink button {
    width: 300px; } }

.about {
  width: 100%;
  height: 495px;
  display: flex; }
  .about .about__content {
    align-self: center;
    justify-content: center;
    width: 664px;
    height: 281px;
    margin-left: 100px; }
    .about .about__content h2 {
      font-size: 15px;
      color: #3a4d60;
      font-family: open sans;
      font-weight: bold;
      text-transform: uppercase; }
    .about .about__content p:first-of-type {
      margin-top: -5px;
      font-size: 19px;
      color: #3a4d60;
      font-family: open sans;
      margin-bottom: 40px; }
    .about .about__content p:last-of-type {
      font-size: 15px;
      color: #3a4d60;
      font-family: open sans; }

@media (max-width: 1160px) {
  .about {
    justify-content: center; }
    .about img {
      display: none; }
    .about .about__content {
      margin: 0;
      text-align: center; } }
